__pycache__
save/
ckpt/
dataset/
build/
dist/
*.egg-info
dist.sh

.venv/
long_term_tsf/dataset/
visionts_items/
journal_paper/
thesis_figures/
viva/
latex/
stage/
versions/

*.csv
*.xlsx
*.png
*.docx
*.jpg
!docs/readme/*.png

BiViSIONTS.ipynb
VisionTS.ipynb